// Gender radio buttons
.gender-filter {

  .input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include breakpoint(sm) {
      flex-direction: column;
    }
  }
}
