// main row
.row {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint(sm) {
    flex-direction: row;
  }

  .left {
    width: 100%;

    @include breakpoint(sm) {
      width: 25%;
    }
  }

  .right {
    width: 100%;

    @include breakpoint(sm) {
      width: 70%;
    }
  }
}
