// Use this file as the main import
@import "color-and-variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cabin', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-bottom: 5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  font-size: 1rem;
  color: $font-blue;

  @include breakpoint(sm) {
    font-size: 1.2rem;
  }
}

@import "App";
@import "components/header";
@import "components/hero";
@import "components/zip-code-filter";
@import "components/main-row";
@import "components/slider";
@import "components/gender-filter";
@import "components/doctor-list";
@import "components/doctor-list-item";
